body {
    font-family: "Roboto";
    margin: 0;
    background: #181818;
}

.header1 {
background: #181818;
}

.headermein {
display: flex;
justify-content: center;
align-items: center;
height: 120px;
}

.navheader {
margin-left: 120px;
margin-right: 149px;
}

.navheader a {
font-family: sans-serif;
margin-right: 31px;
color: white;
text-decoration: none;
}

.navheader a:hover {
color: gray;
}















.header_text {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 35px;
padding-top: 50px;
padding-bottom: 50px;
}

.header_text-title {
color: white;
font-size: 73px;
font-family: sans-serif;
margin: 0;
width: 35%;
text-align: center;
}

.header_text-subtitle {
color: white;
font-size: 18px;
font-weight: 100;
font-family:sans-serif;
margin: 0;
width: 30%;
text-align: center;
margin-top: 17px;
}

.header_button {
margin-top: 35px;
display: flex;
justify-content: center;
}










.header_image {
margin-top: 35px;
display: flex;
justify-content: center;
}