
/* FEATURES */

.main-features,
.Testimonials {
display: flex;
flex-direction: column;
color: white;
align-items: center;

}

.main-title {
margin-top: 200px;
margin-bottom: 0;
justify-content: center;
font-size: 62px;
font-weight: 400;
}

.main-subtitle {
justify-content: center;
margin-top: 27px;
margin-bottom: 0;
font-size: 20px;
font-weight: 400;
width: 30%;
text-align: center;
}

.main_images {
display: flex;
margin-top: 80px;
}

.main_images ul {
padding: 0;
margin-top: -35px;
}

.main_images ul li {
list-style-type: none;
margin-top: 35px;
}

.main-li-header {
display: flex;
align-items: center;
font-size: 20px;
font-weight: 600;
}

.main-li-header img {
margin-right: 13px;
}

.main-li-footer {
display: inline-block;
margin-top: 20px;
width: 270px;
font-weight: 400;
}



/* CONTENT */


.main-content {
display: flex;
flex-direction: column;
color: white;
align-items: center;
}

.main-subtitle-content {
justify-content: center;
margin-top: 27px;
margin-bottom: 0;
font-size: 20px;
font-weight: 400;
width: 28%;
text-align: center;
}

.main-cards {
margin-top: 44px;
display: flex;
justify-content: center;
padding-left: -30px;
}

.tho-card {
padding-right: 10px;

}

.main-card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background: white;
border-radius: 10px;
color: black;
padding-top: 40px;
padding-left: 35px;
padding-right: 35px;
padding-bottom: 40px;
height: 520px;
}

.main-card h1 {
margin: 0;
font-size: 20px;
font-weight: 700;
text-align: center;
}

.main-card h5 {
margin: 0;
font-size: 16px;
font-weight: 400;
text-align: center;
width: 270px;
margin-top: 20px;
}

.first-card {
margin-right: 33px;
}







/* GAlery */







.main-galery-block {
    margin-top: 44px;
    align-items: center;
    border-radius: 12px;
}

.main-galery1 {
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-around;
   border-radius: 12px;

}

.main-galery2 {
   display: flex;
   align-items: center;
   margin-top: 44px;
   justify-content: center;
   margin-bottom: 44px;

}

.main-galery-block img {
    border-radius: 12px;
}

.center-img {
    margin: 0;
    margin-left: 33px;
    margin-right: 33px;
}







/* PARTNERS */



.main-partners {
margin-top: 44px;
margin-bottom: 44px;
}

.main-partners span {
margin-right: 40px;

}





/* testimonials */





.main-testimonials {
    margin-top: 50px;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.testimonial {
border: 1px solid white;
border-radius: 10px;
padding: 40px;
width: 430px;
margin-bottom: 20px;
margin-right: 23px;
}

.testimonial2 {
    margin-right: 0;
}

.testimonial-title {
display: flex;
margin-bottom: 30px;
}

.testimonial-title img {
margin-right: 23px;

}

.testimonial-name,
.testimonial-job {
font-weight: 500;

}

.testimonial-job {
margin-top: 5px;
}

.testimonial-content {
font-weight: 300;
font-size: large;

}